<%= link_to 'edit profile', edit_profile_path(:id => @profile_login.id) %>
<%= link_to 'logout', destroy_user_session_path, :method=>'delete' %>
<%= link_to 'new post', new_post_path %>
<%= link_to 'friendships', friendships_path %>
<ul>
  <% @posts.each do |post| %>
    <li><%= post.profile.firstname %>: <%= post.message %>. <%= link_to 'Add Comment', new_comment_from_post_path(:post_id => post.id) %></li>
      <% if post.comments %>
      <ul>
        <% post.comments.each do |comment| %>
            <li><%= comment.profile.firstname %>: <%= comment.message %></li>
        <% end %>
       </ul>
      <% end %>
  <% end %>
</ul>